@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    max-width: 700px;
    margin: 0 auto;
}

.audible_header h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
}

.highlihts{
    padding-top: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.audible_motive{
    color: rgb(88, 88, 88);
}

.btn{
    margin: 30px 0 70px;
    text-align: center;
}

.button{
    text-decoration: none;
    padding: 7px 15px;
    background: rgb(0, 0, 0);
    font-size: 26px;
    color: aliceblue;
    border-radius: 4px;
    transition: all .3s ease;
}

.button:hover{
    background-color: rgb(30, 30, 30);
}